<mat-card style="margin-top:10px">
<form [formGroup]="animalForm" (ngSubmit)="addAnimal()" method="post" target="_blank">
  <p>Please complete the form!</p>
  <br>
  <label for="race">Race</label><br>
  <input type="text" id="race" name="race" formControlName="race"><br><br>
  <label for="gender">Gender</label><br>
  <input type="text" id="gender" name="gender" formControlName="sex"> <br><br>
  <label>Age</label> <br>
  <input type="text" id="age" name="age" formControlName="age"> <br><br>
  <label>Description</label> <br>
  <input type="text" id="description" name="description" formControlName="description"> <br><br>

  <button type="submit">Submit</button>

<!--  <p> {{animalForm.value | json}} </p>-->
</form>
</mat-card>



