<div text align="center">
  <div style="background-image: url('https://www.ecopetit.cat/wpic/mpic/38-388614_wooden-wall-light-blue-wallpaper-light-blue-background.jpg');">
  <h2>Animal Adoption </h2>
</div>
<div style="background-image: url('https://www.ecopetit.cat/wpic/mpic/38-388614_wooden-wall-light-blue-wallpaper-light-blue-background.jpg');">
<mat-toolbar color="primary">
<button mat-button routerLink="/">Home</button>
<button mat-button routerLink="/about">About</button>
<button mat-button routerLink="/form">Add Animal</button>
</mat-toolbar>
<router-outlet></router-outlet>
